n8n_components/Pinball_daily_email_summary.json
{
  "name": "Pinball Daily Email Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "name": "Daily at 8 AM",
      "id": "schedule-email-001"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Get current totals\nSELECT \n    (SELECT COUNT(*) FROM High_Scores_Archive) as total_scores,\n    (SELECT COUNT(*) FROM Players) as total_players,\n    (SELECT COUNT(*) FROM Machines) as total_machines,\n    (SELECT COUNT(*) FROM High_Scores_Archive WHERE DATE(date_set) = CURRENT_DATE) as scores_added_today,\n    (SELECT COUNT(DISTINCT player_id) FROM High_Scores_Archive WHERE DATE(date_set) = CURRENT_DATE) as active_players_today,\n    (SELECT event_name FROM Events WHERE is_active = true LIMIT 1) as current_event,\n    (SELECT COUNT(*) FROM Leaderboard_Cache) as players_on_leaderboard,\n    CURRENT_DATE as report_date;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [460, 300],
      "name": "Get Database Stats",
      "id": "postgres-stats-001",
      "credentials": {
        "postgres": {
          "id": "cDet4ulNrQr7JVZq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Get top 5 players from current leaderboard\nSELECT \n    p.display_name,\n    l.combined_score,\n    l.current_rank\nFROM Leaderboard_Cache l\nJOIN Players p ON l.player_id = p.player_id\nORDER BY l.current_rank ASC\nLIMIT 5;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [680, 300],
      "name": "Get Top 5 Players",
      "id": "postgres-top5-001",
      "credentials": {
        "postgres": {
          "id": "cDet4ulNrQr7JVZq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build HTML email from database stats\nconst stats = $('Get Database Stats').first().json;\nconst top5 = $('Get Top 5 Players').all();\n\nconst reportDate = new Date(stats.report_date).toLocaleDateString('en-US', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\n// Build top 5 table\nlet top5Table = '';\nif (top5.length > 0) {\n  top5.forEach((player, idx) => {\n    const medal = idx === 0 ? '🥇' : idx === 1 ? '🥈' : idx === 2 ? '🥉' : `${player.json.current_rank}.`;\n    top5Table += `\n      <tr>\n        <td style=\"padding: 8px; border-bottom: 1px solid #ddd;\">${medal}</td>\n        <td style=\"padding: 8px; border-bottom: 1px solid #ddd;\">${player.json.display_name}</td>\n        <td style=\"padding: 8px; border-bottom: 1px solid #ddd; text-align: right;\">${player.json.combined_score.toLocaleString()}</td>\n      </tr>\n    `;\n  });\n} else {\n  top5Table = '<tr><td colspan=\"3\" style=\"padding: 8px;\">No leaderboard data yet</td></tr>';\n}\n\n// Build activity indicator\nconst activityEmoji = stats.scores_added_today > 0 ? '🟢' : '⚪';\nconst activityText = stats.scores_added_today > 0 \n  ? `${stats.scores_added_today} new high scores` \n  : 'No new scores';\n\nconst htmlBody = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 20px; border-radius: 8px; text-align: center; }\n    .stat-box { background: #f8f9fa; padding: 15px; margin: 10px 0; border-radius: 8px; border-left: 4px solid #667eea; }\n    .stat-label { font-size: 12px; color: #666; text-transform: uppercase; }\n    .stat-value { font-size: 28px; font-weight: bold; color: #333; }\n    table { width: 100%; border-collapse: collapse; margin: 15px 0; }\n    th { background: #667eea; color: white; padding: 10px; text-align: left; }\n    .footer { text-align: center; color: #999; font-size: 12px; margin-top: 30px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🎮 Pinball Leaderboard Report</h1>\n      <p>${reportDate}</p>\n    </div>\n    \n    <h2>📊 Database Statistics</h2>\n    \n    <div class=\"stat-box\">\n      <div class=\"stat-label\">Total High Scores</div>\n      <div class=\"stat-value\">${stats.total_scores.toLocaleString()}</div>\n    </div>\n    \n    <div class=\"stat-box\">\n      <div class=\"stat-label\">Registered Players</div>\n      <div class=\"stat-value\">${stats.total_players.toLocaleString()}</div>\n    </div>\n    \n    <div class=\"stat-box\">\n      <div class=\"stat-label\">Tracked Machines</div>\n      <div class=\"stat-value\">${stats.total_machines}</div>\n    </div>\n    \n    <div class=\"stat-box\">\n      <div class=\"stat-label\">Today's Activity</div>\n      <div class=\"stat-value\">${activityEmoji} ${activityText}</div>\n      ${stats.active_players_today > 0 ? `<p style=\"margin: 5px 0 0 0; color: #666;\">${stats.active_players_today} active players</p>` : ''}\n    </div>\n    \n    <h2>🏆 Current Top 5 - ${stats.current_event || 'Active Event'}</h2>\n    <table>\n      <thead>\n        <tr>\n          <th>Rank</th>\n          <th>Player</th>\n          <th style=\"text-align: right;\">Score</th>\n        </tr>\n      </thead>\n      <tbody>\n        ${top5Table}\n      </tbody>\n    </table>\n    \n    <div class=\"footer\">\n      <p>Pinball Analytics System | Automated Daily Report</p>\n      <p>Data last updated: ${new Date().toLocaleString()}</p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{ \n  json: { \n    subject: `🎮 Pinball Leaderboard Daily Summary - ${reportDate}`,\n    html: htmlBody,\n    stats: stats\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "name": "Build Email HTML",
      "id": "code-email-001"
    },
    {
      "parameters": {
        "sendTo": "your-email@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1120, 300],
      "name": "Send Gmail",
      "id": "gmail-send-001",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_OAUTH2_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Record today's stats for future comparison\nINSERT INTO Daily_Stats (\n    snapshot_date,\n    total_scores,\n    total_players,\n    total_machines,\n    new_scores_today,\n    updated_scores_today\n) VALUES (\n    CURRENT_DATE,\n    $1,\n    $2,\n    $3,\n    $4,\n    0\n)\nON CONFLICT (snapshot_date) \nDO UPDATE SET\n    total_scores = EXCLUDED.total_scores,\n    total_players = EXCLUDED.total_players,\n    total_machines = EXCLUDED.total_machines,\n    new_scores_today = EXCLUDED.new_scores_today;",
        "options": {
          "queryReplacement": "={{ [ $('Get Database Stats').first().json.total_scores, $('Get Database Stats').first().json.total_players, $('Get Database Stats').first().json.total_machines, $('Get Database Stats').first().json.scores_added_today ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1120, 420],
      "name": "Record Daily Stats",
      "id": "postgres-record-001",
      "credentials": {
        "postgres": {
          "id": "cDet4ulNrQr7JVZq",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Daily at 8 AM": {
      "main": [
        [
          {
            "node": "Get Database Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Database Stats": {
      "main": [
        [
          {
            "node": "Get Top 5 Players",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Top 5 Players": {
      "main": [
        [
          {
            "node": "Build Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email HTML": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Record Daily Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail": {
      "main": [[]]
    },
    "Record Daily Stats": {
      "main": [[]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "email-summary-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
